# 原始源
# registry = http://registry.npmjs.org 
; 使用淘宝源
# registry = https://registry.npm.taobao.org
; 当前缓存目录
cache=.npm
; 锁定版本
save-exact=true
; css预编译node-sass
sass_binary_site="https://npm.taobao.org/mirrors/node-sass/"
; node调试工具node-inspector
profiler_binary_host_mirror=https://npm.taobao.org/mirrors/node-inspector/
; nodeJS的fs fsevents
fse_binary_host_mirror=https://npm.taobao.org/mirrors/fsevents/
; chromedriver
chromedriver_cdnurl="https://cdn.npm.taobao.org/dist/chromedriver"
; 桌面应用 electron
electron_mirror="https://npm.taobao.org/mirrors/electron/"
